@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Text:wght@400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@600;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

.font-space-grotesk {
  font-family: "Space Grotesk", sans-serif;
}

.font-poppins {
  font-family: "Poppins", sans-serif;
}

.font-karla {
  font-family: "Karla", sans-serif;
}

.font-red-hat-text {
  font-family: "Red Hat Text", sans-serif;
}

.font-plus-jakarta-sans {
  font-family: "Plus Jakarta Sans", sans-serif;
}

.font-manrope {
  font-family: "Manrope", sans-serif;
}

.font-space-mono {
  font-family: "Space Mono", monospace;
}

.font-manrope-light {
  font-family: "Manrope", sans-serif;
}

.font-roboto {
  font-family: "Roboto", sans-serif;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
